*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

/* Media Query For Laptop */

@media (max-width:1440px) {

.Qr-code{
    margin: auto;
    background-color: white;
    height: 500px;
    width: 320px;
   border-radius: 20px;
   margin-top: 100px;

   h1{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin :20px 0px;
    color: hsl(218, 44%, 22%);
   }

   p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
   }
}

.img{
    width: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
   padding-top: 15px;

   a{
    text-decoration: none;
   }

}
img{
    width: 290px;
    border-radius: 10px ;
    background-color: hsl(212, 45%, 89%);
}
}

/* Media Query For Mobile */

@media (max-width:375px) {
   
    .Qr-code{
        margin: auto;
        background-color: white;
        height: 800px;
        width: 400px;
       border-radius: 20px;
       margin-top: 100px;
    
       h1{
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        margin :20px 0px;
        color: hsl(218, 44%, 22%);
       }
    
       p{
        font-size: 15px;
        text-align: center;
        font-weight: 400;
        color: hsl(216, 15%, 48%);
       }
    }
    
    .img{
        width: 400px;
        display: flex;
        justify-content: center;
        align-content: center;
       padding-top: 15px;
    
       a{
        text-decoration: none;
       }
    
    }
    img{
        width: 370px;
        border-radius: 10px ;
        background-color: hsl(212, 45%, 89%);
    }
    
}
